    <body>
    <div class="container">
            <h1>Prohlížeč databáze</h1>
            <ul class="list-group">
                <li class="list-group-item"><a href="peopleList.php">Seznam zaměstnanců</a></li>
                <li class="list-group-item"><a href="roomList.php">Seznam místností</a></li>
            </ul>
            <a href="changepassword.php">Změna hesla</a><br>
            <a href="logout.php">Odhlásit se</a>
        </div>
    </body>
</html>